* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #060AB2;
}

img{
    width: 100px;
}

.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border: 2px solid lime;
}

.memory-card{
    
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale 1;
    transform-style: preserve-3d;
    transition: transform .5s;
    
}

.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip{
    transform: rotateY(180deg);

}


.front,
.back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: green;
    backface-visibility: hidden;
    border: 2px solid black;
}

.front {
  transform: rotateY(180deg);
}