* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
  display: flex;
  background: #060AB2;
}

img{
    width: 100px;
}

.container {
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*--------------------------------Score Panel-------------------------------*/
.score-panel {
	text-align: left;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.fa-star {
	color: #FFD700;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}
/*--------------------------------Memory Game-------------------------------*/
.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border: 2px solid lime;
}
/*-----------------------------------Cards-------------------------------*/
.memory-card{
    
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale 1;
    transform-style: preserve-3d;
    transition: transform .5s;
    
}

.memory-card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip{
    transform: rotateY(180deg);

}


.front,
.back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: green;
    backface-visibility: hidden;
    border: 2px solid black;
}

.front {
  transform: rotateY(180deg);
}
